<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
      <add key="LocationOfSavedEmail" value="D:\Semester 7\IPT\Assignment\Assignment_2\k163810_Q2\Emails\"/>
      <add key="LocationToSaveSentEmailCount" value="D:\Semester 7\IPT\Assignment\Assignment_2\k163810_Q3\k163810_Q3\numberOfSentEmails.txt"/>
      <add key="SmtpServer" value="smtp.gmail.com"/>
      <add key="Port" value="587"/> 
      <add key="EnableSsl" value="true"/>
      <add key="MyEmail" value =""/>
      <add key="Password" value=""/>
    </appSettings>
</configuration>